	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="http://meo-cs.net/" />
	<meta property="og:title" content="<%= title %>meo-cs.net" />
	<meta property="og:url" content="http://meo-cs.net/<%= url %>" />
	<meta property="og:image" content="http://meo-cs.net/<%= image_url %>" />
	<meta property="og:description" content="<%= description %>" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@0meo" />
	<meta name="twitter:title" content="<%= title %>meo-cs.net" />
	<meta name="twitter:url" content="http://meo-cs.net/<%= url %>" />
	<meta name="twitter:image" content="http://meo-cs.net/<%= image_url %>" />
	<meta name="twitter:description" content="<%= description %>" />

	<title><%= title %>meo-cs</title>
	<link rel="shortcut icon" href="/favicon/favicon.ico" type="image/vnd.microsoft.icon">
	<link href="<%= dir %>honoka/css/bootstrap.min.css" rel="stylesheet">
	<link href="<%= dir %>common.css" rel="stylesheet">
	<script src="<%= dir %>jquery-3.2.1.min.js"></script>
	<script src="<%= dir %>honoka/js/bootstrap.min.js"></script>